<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.staff.thekwini" >

    <!--
        API_KEY DEV: AIzaSyCxArlrMm29xcI6kNcSkr2W3VD_7mqi6rI
    -->
    <!--
        API_KEY PROD: AIzaSyAw1RDSUNdf-DQkHaAPXYLQ_Qvxk_9MDIA
    -->
    <permission
        android:name="com.boha.staff.thekwini.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boha.staff.thekwini.gcm.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:name="com.boha.library.activities.CityApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/StaffThemeOrange" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCxArlrMm29xcI6kNcSkr2W3VD_7mqi6rI" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainDrawerActivity"/>

        <activity android:name=".activities.SigninActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name="com.boha.library.activities.AlertMapActivity"
            android:parentActivityName=".activities.MainDrawerActivity"/>
        <activity android:name="com.boha.library.activities.ComplaintMapActivity"
            android:parentActivityName=".activities.MainDrawerActivity"/>

        <activity android:name="com.boha.library.activities.AlertPictureGridActivity" />
        <activity android:name="com.boha.library.activities.FullPhotoActivity" />

        <activity android:name="com.boha.library.activities.PictureActivity"
            android:theme="@style/NoActionBarTheme"
            android:parentActivityName=".activities.MainDrawerActivity"/>/>


        <!-- RECEIVERS and SERVICES -->
        <receiver
            android:name=".services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.boha.staff.thekwini" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GcmIntentService" />

    </application>

</manifest>
