<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.staffapp.ethekwini" >

    <!--
        DEV KEY: AIzaSyACd65HVyLDIF7x26P9NYR2VhykAAgON5E
        88:04:DF:2B:68:40:60:A3:31:81:2F:71:1F:2D:71:FB:F7:71:F9:57;com.boha.staffapp.ethekwini
    -->
    <!--
            PROD KEY: AIzaSyBqstBvhRJUPcR-0tMjZSL9Uy3M87plIdk
        4F:72:A0:21:0F:AD:8D:6B:EC:B5:83:49:13:CB:64:75:74:62:1A:A7;com.boha.staffapp.ethekwini
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/my_name"
        android:name="com.boha.library.activities.CityApplication"
        android:theme="@style/IndigoTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBqstBvhRJUPcR-0tMjZSL9Uy3M87plIdk" />
        <activity
            android:name="com.boha.staffapp.ethekwini.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/my_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.boha.staffapp.ethekwini.activities.SigninActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.boha.staffapp.ethekwini.activities.MainDrawerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.boha.library.activities.AlertMapActivity"
            android:parentActivityName="com.boha.staffapp.ethekwini.activities.MainDrawerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.boha.library.activities.ComplaintMapActivity"
            android:parentActivityName="com.boha.staffapp.ethekwini.activities.MainDrawerActivity"/>

        <activity android:name="com.boha.library.activities.AlertPictureGridActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.boha.library.activities.FullPhotoActivity" />

        <activity android:name="com.boha.library.activities.PictureActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.boha.staffapp.ethekwini.activities.MainDrawerActivity"/>
        <activity
            android:name="com.boha.library.activities.FaqActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.boha.staffapp.ethekwini.activities.MainDrawerActivity" >

        </activity>
        <activity android:name="com.boha.library.activities.NewsMapActivity"
            android:parentActivityName="com.boha.staffapp.ethekwini.activities.MainDrawerActivity"/>
        <activity
            android:name="com.boha.library.activities.MuniContactsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.boha.staffapp.ethekwini.activities.MainDrawerActivity" >
        </activity>


        <!-- RECEIVERS and SERVICES -->
        <receiver
            android:name="com.boha.staffapp.ethekwini.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.boha.staffapp.ethekwini" />
            </intent-filter>
        </receiver>

        <service android:name="com.boha.staffapp.ethekwini.services.GcmIntentService" />

    </application>
    <permission
        android:name="com.boha.staffapp.ethekwini.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boha.staffapp.ethekwini.gcm.permission.C2D_MESSAGE" />


</manifest>
