<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.citizenapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.boha.citizenapp.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boha.citizenapp.gcm.permission.C2D_MESSAGE" />
    <!-- Google API Keys

    88:04:DF:2B:68:40:60:A3:31:81:2F:71:1F:2D:71:FB:F7:71:F9:57;com.boha.citizenapp
     DEV - AIzaSyDuFV16aB-wJQe4256B2Fr_UdrbRpWd6O8

     4F:72:A0:21:0F:AD:8D:6B:EC:B5:83:49:13:CB:64:75:74:62:1A:A7;com.boha.citizenapp
     PROD - AIzaSyAk0z-ZrAUhlWNFKV-vkpMTTOfm9br-2uI

     -->

    <application
        android:name="com.boha.citylibrary.activities.CityApplication"
        android:allowBackup="true"
        android:icon="@drawable/dome3"
        android:theme="@style/OperationsTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDuFV16aB-wJQe4256B2Fr_UdrbRpWd6O8" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/NoActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SigninActivity"
            android:parentActivityName=".activities.SplashActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.boha.citizenapp.activities.PaymentStartActivity"
            android:theme="@style/MidnightTheme"
            android:parentActivityName=".activities.AccountActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/title_activity_payment_start" >
        </activity>
        <activity
            android:name=".activities.MainPagerActivity"
            android:theme="@style/RoyalBlueTheme"
            android:parentActivityName=".activities.SplashActivity" />
        <activity android:name=".activities.AlertMapActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".activities.AlertPictureGridActivity" android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".activities.FullPhotoActivity" />
        <activity android:name=".activities.PictureActivity" />
        <!-- RECEIVERS -->
        <receiver
            android:name=".services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.boha.citizenapp" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".services.GCMDeviceService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".activities.SplashActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:theme="@style/MidnightTheme"
            android:label="@string/title_activity_account"
            android:parentActivityName=".activities.MainPagerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boha.citizenapp.activities.MainPagerActivity" />
        </activity>
    </application>

</manifest>
