<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boha.citizenapp.ethekwini">

    <permission
        android:name="com.boha.citizenapp.ethekwini.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boha.citizenapp.ethekwini.gcm.permission.C2D_MESSAGE" />

    <!--
        DEV KEY: AIzaSyCCqxtRIo4epdejyic7PxWv5rZLcZp5J1w
        3E:F3:AA:D7:B9:B4:71:22:A7:F0:CD:4F:89:74:84:6A:92:8C:99:E0;com.boha.citizenapp.ethekwini
    -->
    <!--
        RELEASE_KEY: AIzaSyAqZZRA8nW_XmRqti8A2tqiXHvp6fy5bqw
        4F:72:A0:21:0F:AD:8D:6B:EC:B5:83:49:13:CB:64:75:74:62:1A:A7;com.boha.citizenapp.ethekwini
    -->
    <application
        android:name="com.boha.library.activities.CityApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/BlueThemeOne"
        tools:replace="android:theme">

        <!-- Keys and metadata -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAqZZRA8nW_XmRqti8A2tqiXHvp6fy5bqw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities -->
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.PaymentStartActivity"
            android:parentActivityName="com.boha.library.activities.AccountDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:parentActivityName=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.boha.library.activities.AlertMapActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.ComplaintMapActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.FaqActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SigninActivity"
            android:parentActivityName=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.boha.library.activities.AlertPictureGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.FullPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.PictureActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.NewsMapActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" />
        <activity
            android:name="com.boha.library.activities.StatementActivity"
            android:parentActivityName="com.boha.library.activities.AccountDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.MuniContactsActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.AccountDetailActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.AlertDetailActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" />
        <activity
            android:name="com.boha.library.activities.FaqTypeActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" />
        <activity
            android:name="com.boha.library.activities.GeneralInfoActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" />
        <activity
            android:name="com.boha.library.activities.EmergencyContactsActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" />
        <activity
            android:name="com.boha.library.activities.ThemeSelectorActivity"
            android:label="@string/title_activity_theme_selector"
            android:parentActivityName=".activities.CitizenDrawerActivity" />

        <!-- RECEIVERS and SERVICES -->

        <service
            android:name="com.boha.library.services.GCMDeviceService"
            android:exported="false" />

        <!-- SERVICES -->
        <service android:name="com.boha.library.services.RegistrationIntentService" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.boha.citizenapp.ethekwini" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.CitizenGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.boha.library.services.MonInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="com.boha.library.activities.CardPaymentsActivity"
            android:parentActivityName="com.boha.library.activities.AccountDetailActivity" />
        <activity
            android:name="com.boha.library.activities.SIDPaymentsActivity"
            android:parentActivityName="com.boha.library.activities.AccountDetailActivity" />
        <!--
            <activity
            android:name=".activities.AddressActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name=".activities.TouristDrawerActivity"
            android:label="@string/title_activity_tourist_drawer" />
        <activity
            android:name=".activities.TouristAddressActivity"
            android:label="@string/title_activity_tourist_address"></activity>
        -->

        <activity android:name=".activities.TouristDrawerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".rssreader.FullArticleViewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.SplashActivity"/>
    </application>

</manifest>