<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boha.citizenapp.ethekwini" >

    <permission
        android:name="com.boha.citizenapp.ethekwini.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boha.citizenapp.ethekwini.gcm.permission.C2D_MESSAGE" />

    <!--
        DEV KEY: AIzaSyD_JN8utL0IAkTI4HKm_TkBX_xSvQbZbFU
        88:04:DF:2B:68:40:60:A3:31:81:2F:71:1F:2D:71:FB:F7:71:F9:57;com.boha.citizenapp.ethekwini
    -->
    <!--
        RELEASE_KEY: AIzaSyCi7zV2Tc8ItuEXho4Jda1Y-Xh4IyqlkG4
        4F:72:A0:21:0F:AD:8D:6B:EC:B5:83:49:13:CB:64:75:74:62:1A:A7;com.boha.citizenapp.ethekwini
    -->
    <application
        android:name="com.boha.library.activities.CityApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/BlueThemeOne"
        tools:replace="android:theme" >

        <!-- Keys and metadata -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCi7zV2Tc8ItuEXho4Jda1Y-Xh4IyqlkG4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities -->
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.AccountActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.PaymentStartActivity"
            android:parentActivityName="com.boha.library.activities.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:parentActivityName=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.boha.library.activities.AlertMapActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.ComplaintMapActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.FaqActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boha.library.activities.NewsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SigninActivity"
            android:parentActivityName=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.boha.library.activities.MyComplaintsActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boha.library.activities.AlertPictureGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.FullPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.PictureActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boha.library.activities.NewsMapActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" />
        <activity
            android:name="com.boha.library.activities.StatementActivity"
            android:parentActivityName="com.boha.library.activities.AccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boha.library.activities.MuniContactsActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boha.library.activities.AccountDetailActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" >
        </activity>
        <activity
            android:name="com.boha.library.activities.AlertDetailActivity"
            android:parentActivityName=".activities.CitizenDrawerActivity" >
        </activity>

        <!-- RECEIVERS and SERVICES -->
        <receiver
            android:name=".services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.boha.citizenapp.ethekwini" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GcmIntentService" />
        <service
            android:name="com.boha.library.services.GCMDeviceService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activities.AddressActivity"
            android:label="@string/title_activity_address" >
        </activity>
    </application>

</manifest>
